<h1>Les trois derniers repas proposés !</h1>
<% @meals.each do |meal| %>
  <article class="">
    <%= meal.title %>
  </article>
<% end %>
<div class="">
    <h2>Entrez votre adresse </h2>
    <form action="/search" method="get">
      <input id="user_input_autocomplete_address" placeholder="Commencer à écrire votre adresse">
      <input type="hidden" id="lat" name="lat" value="" />
      <input type="hidden" id="lng" name="lng" value="" />
    </form>

</div>
